.btn-nueva-marca {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  color: #6b21a8;
  border: 2px solid #d8b4fe;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-nueva-marca:hover {
  background: #f3e8ff;
}

/* Modal adicional estilos */
.modal-header {
  position: relative;
  margin-bottom: 1rem;
}

.modal-header h2 {
  margin: 0;
  text-align: left; /* Alinea el texto a la izquierda */

}

.subtitulo {
  font-size: 0.9rem;
  color: #6b7280;
  margin-top: 2rem;
  text-align: left; /* Alinea el texto a la izquierda */

  
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
}

.modal-body label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.modal-body input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.modal-actions {
  
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-cancelar {
  background: white;
  border: 1px solid #d1d5db;
  color: #374151;
  width: 100%;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
}

.btn-cancelar:hover {
  background: #f9fafb;
}

.btn-guardar {
  background: linear-gradient(to right, #ec4899, #8b5cf6);
  color: white;
  border: none;
  width: 100%;

  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-guardar:hover {
  opacity: 0.9;
}



