.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  font-family: 'Inter', Arial, sans-serif;
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
  /* animación */
  opacity: 0;
  transform: translateY(-20px);
  animation: aparecerModal 0.4s ease-out forwards;
}

@keyframes aparecerModal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal-actions button {
  flex: 1;
  margin: 0 0.25rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cerrar {
  background: #e0f2fe;
  color: #0369a1;
}

.btn-guardar {
  background: #d1fae5;
  color: #065f46;
}

.btn-eliminar {
  background: #fee2e2;
  color: #991b1b;
}


