.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  font-family: 'Inter', Arial, sans-serif;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
  /* animación */
  opacity: 0;
  transform: translateY(-20px);
  animation: aparecerModal 0.4s ease-out forwards;
}

@keyframes aparecerModal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


