
.footer {
    background-color: #000;
    color: #aaa;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    text-align: center; /* Asegura que el texto esté centrado */

  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente las secciones */
    justify-content: space-between;
    gap: 40px;
    border-bottom: 1px solid #444;
    padding-bottom: 30px;
    max-width: 1200px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }


  .footer-section {
    flex: 1 1 200px; /* Asegura que las secciones tengan un ancho mínimo */
    max-width: 250px; /* Limita el ancho máximo de cada sección */
}

  
  .footer-section h4 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .footer-section li:hover {
    color: #fff;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 12px;
    font-size: 18px;
    color: #888;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    max-width: 1200px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
  }
  
  .footer-bottom p {
    margin: 0;
    color: #aaa;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los enlaces horizontalmente */
    gap: 10px;
}
  
  .footer-links a {
    margin: 0 10px;
    color: #888;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #fff;
  }
